{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="w3-container w3-blue-gray w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Poc d'intégration Ringover <i class="fa fa-arrows-h" aria-hidden="true"></i> Jamespot</h1>
  <!-- <p class="w3-xlarge">Template by w3.css</p> -->
  <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Big button</button> -->
</header>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-blue-gray w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Objectif</h1>
      <h5 class="w3-padding-32">Il s'agit déjà de valider la faisabilité et l'intérêt d'une telle intégration dans Jamespot</h5>

      <!-- <p class="w3-text-grey"> -->
      <p>
        En pratique, dans un premier temps on n'intégrera pas de mécanismes de configuration qui repose juste sur quelques champs dans un simple formulaire.
      </p>
      <p> On se limitera à quelques pages de démonstration :</p>
      <ul>
        <li>Un profil utilisateur permettant d'accéder à l'historique de ses appels, y compris les conversations enregistrées.</li>
        <li>Un profil client qui contient un bouton pour déclencher un appel ringover vers ce client. Il contiendra aussi l'historique des appels avec ce client.</li>
        <li>Une page support : cette page contiendra un bouton d'appel du client ayant initié la demande de support, mais aussi tous les appels liés à cette demande de support. Pour simplifier : on affichera tous les appels avec ce client depuis le début entre la date de début de la demane de support et sa date de fermeture.</li>
      </ul>
    </div>
  </div>
</div>

{% endblock%}
